body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(black, rgb(82, 82, 82));
    height: 100vh;
}
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    padding: 10px;
    width: 350px;
    height: 550px;
    border: 1px solid white;
}
.display{
    position: relative;
    margin:4 0px 40px;
    font-size: 1.4em;
    text-align: end;
    color: rgb(206, 255, 91);
    height: 60px;
    width: 280px;
    background-color: rgb(71, 170, 71);
    border-radius: 10px;
}
#previousOperation{
    position: absolute;
    top: -10px;
    right: 0px;
}

.squareDet{
    width: 20px;
    height: 20px;
    background-color: rgb(85, 82, 82);
    margin: 0px 100px;
}
table{
    display: flex;
    justify-content: center;
}
button{
    position: relative;
    margin: 10px 4px;
    color: white;
    width: 70px;
    height: 70px;
    background-color: rgb(230, 142, 11);
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}
button::after{
    content: "";
    width: 70px;
    height: 15px;
    background-color: rgb(199, 77, 6);
    position: absolute;
    bottom: 0px;
    z-index: 999;
    left: 0px;
}
button .Func:active{
    background-color: rgb(255, 254, 253);
}
.Func{
    background-color: rgb(119, 119, 119);
}
.Func::after{
    background-color: rgb(61, 61, 61) ;
}
#Func:active{
    background-color: rgb(195, 194, 196);
}
#col2{
    width: 145px;
}
#col2::after{
    width: 145px;
}
#shadow2D{
    position: relative;
    top: -20px;
    z-index: -1;
    background: linear-gradient(rgb(82, 82, 82),rgb(170, 170, 170));
    width: 370px;
    border-radius: 0px 0px 20px 20px;
    height: 50px;
}